#mainText {
    font-family: 'LoversQuarrel';
    font-size: 60px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    text-shadow: 2px 2px 5px #F33A6A;
}

#askGif {
    display: flex;
    justify-content: center;
    align-items: center;
}