#mainText {
    font-family: 'LoversQuarrel';
    font-size: 60px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 5px #F33A6A;
}