body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #FFB6C1;
}

@font-face {
    font-family: "LoversQuarrel";
    src: local("LoversQuarrel"),
        url("./fonts/LoversQuarrel/LoversQuarrel-Regular.ttf") format("truetype");
}